coverage
pytest
pytest-cov
pytest-randomly
sphinx
sphinx-rtd-theme
sphinx-gallery
sphinxcontrib-bibtex
flake8
black
isort
bump2version
wheel
numpy
scipy
tensorly
autodocsumm
matplotlib
plotly
pandas
wordcloud
tqdm
tlviz
condat_tv
